<section>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-center">Add Product</h2>
        <form action="/admin/add-product" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="">Name</label>
            <input
              type="text"
              class="form-control"
              id=""
              name="name"
              placeholder="Example input"
            />
          </div>
          <div class="form-group">
            <label for="">Category</label>

            
            <input
              type="text"
              class="form-control"
              id=""
              name="catgory"
              placeholder="Another input"
            />
          </div>
          <div class="form-group">
            <label for="">Price</label>
            <input
              type="text"
              class="form-control"
              id=""
              name="price"
              placeholder="Example input"
            />
          </div>
          <div class="form-group">
            <label for="">Description</label>
            <input type="text"class="form-control" id="descriptionn" name="" placeholder="Another input" />
          </div>

          <div class="form-group">
            <label for="">Image</label>
            <input type="file" class="form-control-file" id="" name="Image"/>
          </div>
          <button type="submit" class="btn btn-success mt-4">Success</button>

        </form>
      </div>
    </div>
  </div>
</section>